.button .text {
    font-size: 72%;
    font-weight: 600;
}
.button .color {
    color: var(--fg1-color1);
    fill: var(--fg1-color1);
    stroke: var(--fg1-color1);
}
.button:hover .color {
    color: var(--fg2-color1);
    fill: var(--fg2-color1);
    stroke: var(--fg2-color1);
}