.contact_page {
    --common-gap: 36px;
    --info-w: 50%;
    padding-top: 200px;
    padding-bottom: 200px;
}
.contact_page .wrapper {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.info {
    --color: var(--fg3-color1);
    align-self: flex-end;
    width: calc((-100% + 100vw)/2 + var(--info-w));
    background-color: var(--fg2-color1);
    z-index: 1;
    padding: var( --common-gap);
    padding-right: calc((-100% + 100vw)/2 + 10%);
    box-sizing: border-box;
    position: absolute;
    left: var(--info-w);
}
.info .header {
    padding-bottom: 30px;
}
.info .header .heading {
    color: var(--color);
    font-size: 200%;
    font-weight: 600;
    line-height: 75%;
}
.info .body > * {
    margin-bottom: 40px;
}
/*.info .body > *:first-child {
    margin-top: 0;
}*/
.info .body > *:last-child {
    margin-bottom: 0;
}
.info .paraf {
    font-size: 108%;
    line-height: 180%;
    color: var(--color);
    padding-right: 5%;
}

.form_section {
    width: calc(100% - var(--info-w) + var(--common-gap));
    box-sizing: border-box;
    border: 8px solid var(--fg1-color1);
    margin-top: 100px;
    padding: 72px 108px 108px 72px;
}

.form_section .heading {
    font-size: 270%;
    font-weight: 700;
    color: var(--fg1-color1);
    line-height: 1;
}

.form {
    --common-spacing: 24px;
    margin-top: 24px;
}

.form .area {
    margin: calc(var(--common-spacing)*2) 0 0;
    position: relative;
}
.form .area label {
    position: absolute;
    transform: translateY(0);
    font-size: 95%;
    font-weight: 500;
    color: var(--fg1-color1);
    transition: var(--transition);
}
.form .area.focused label {
    transform: translateY(calc(-1*var(--common-spacing)));
    font-size: 75%;
    font-weight: 600;
}
.form area .field {
    position: absolute;
    width: 100%;
}
.form .field .data_field {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 24px;
    background: none;
    outline: none;
    border: 0;
    color: var(--fg1-color1);
}
/*.form .field .data_field:-internal-autofill-selected {
    appearance: none!important;
    background: none!important;
    color: -internal-light-dark(var(--fg1-color1))!important;
}*/
.form .field textarea.data_field {
    height: 96px;
}

.form .field .border_line .line {
    height: 1px;
}
.form .field .border_line .line.focused {
    background-color: var(--fg2-color2);
    opacity: 0;
    z-index: 0;
    width: 0;
    transition: 0ms;
}
.form .field .border_line .line.unfocused {
    background-color: var(--fg1-color1);
    opacity: 1;
    z-index: 1;
    width: 100%;
    transition: 1000ms;
}
.form .field .data_field:focus + .border_line .line.unfocused {
    width: 0;
    opacity: 0;
    z-index: 0;
    transition: 0ms;
}
.form .field .data_field:focus + .border_line .line.focused {
    width: 100%;
    opacity: 1;
    z-index: 1;
    transition: 1000ms;
}
.form .field .data_field.error + .border_line .line.unfocused {
    background-color: #f00;
}

.form button {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    border: 2px solid var(--fg2-color2);
    padding: 8px 24px;
    font-size: 105%;
    color: var(--fg1-color1);
    margin-top: calc(var(--common-spacing)*2);
    letter-spacing: 1px;
    cursor: pointer;
    transition: var(--transition);
}
.form button:hover {
    background-color: var(--fg2-color2);
    color: var(--fg3-color1);
    font-weight: 600;
}