.p-4 {
    padding: 4px!important;
}
.p-8 {
    padding: 8px!important;
}
.p-16 {
    padding: 16px!important;
}
.p-32 {
    padding: 32px!important;
}




.m-4 {
    margin: 4px!important;
}
.m-8 {
    margin: 8px!important;
}
.m-16 {
    margin: 16px!important;
}
.m-32 {
    margin: 32px!important;
}
.mt-4 {
    margin-top: 4px!important;
}
.mt-8 {
    margin-top: 8px!important;
}
.mt-16 {
    margin-top: 16px!important;
}
.mt-32 {
    margin-top: 32px!important;
}





.lh-50p {
    line-height: 50%!important;
}
.lh-60p {
    line-height: 60%!important;
}
.lh-70p {
    line-height: 70%!important;
}
.lh-80p {
    line-height: 80%!important;
}
.lh-90p {
    line-height: 90%!important;
}
.lh-100p {
    line-height: 100%!important;
}
.lh-110p {
    line-height: 110%!important;
}
.lh-120p {
    line-height: 120%!important;
}
.lh-130p {
    line-height: 130%!important;
}
.lh-140p {
    line-height: 140%!important;
}
.lh-150p {
    line-height: 150%!important;
}
.lh-160p {
    line-height: 160%!important;
}
.lh-170p {
    line-height: 170%!important;
}
.lh-180p {
    line-height: 180%!important;
}
.lh-190p {
    line-height: 190%!important;
}

.lh-1 {
    line-height: 1!important;
}
.lh-2 {
    line-height: 2!important;
}
.lh-3 {
    line-height: 3!important;
}
.lh-4 {
    line-height: 4!important;
}





.fs-50p {
    font-size: 50%!important;
}
.fs-60p {
    font-size: 60%!important;
}
.fs-70p {
    font-size: 70%!important;
}
.fs-80p {
    font-size: 80%!important;
}
.fs-90p {
    font-size: 90%!important;
}
.fs-100p {
    font-size: 100%!important;
}
.fs-110p {
    font-size: 110%!important;
}
.fs-120p {
    font-size: 120%!important;
}
.fs-130p {
    font-size: 130%!important;
}
.fs-140p {
    font-size: 140%!important;
}
.fs-150p {
    font-size: 150%!important;
}