@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

:root {
    --primary-color: #fff;
    --fg-color2: #cfcfcf;
    --secondary-color: #ffff6b;
    
    --fg1-color1: #fff;
    --fg1-color2: #cfcfcf;
    --fg1-color3: #b7b7b7;
    --fg2-color1: #ffff6b;
    --fg2-color2: #ffff40;
    --fg3-color1: #202020;

    --transition: 250ms ease;
}
::-webkit-scrollbar {
    width: 12px;
    background: var(--fg3-color1);
}
::-webkit-scrollbar-thumb {
  background: var(--fg2-color1);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--fg2-color2);
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: var(--fg3-color1);
}
a {
    text-decoration: none;
    /*color: var(--primary-color);*/
}
a .color {
    color: var(--primary-color);
    fill: var(--primary-color);
    stroke: var(--primary-color);
}
a:hover .color {
    color: var(--secondary-color);
    fill: var(--secondary-color);
    stroke: var(--secondary-color);
}

.text {
    color: var(--color1);
    line-height: 120%;
}
.paraf {
    color: var(--color1);
    line-height: 170%;
}

.fg-color1 {
    color: var(--primary-color)!important;
}
.fg-color2 {
    color: var(--fg-color2)!important;
}
.fg-color3 {
    color: var(--secondary-color)!important;
}
.typo-attention-color {
    color: #ffffad!important;
}


.h1 {
    font-size: 280%;
    font-weight: 500;
}
.h2 {
    font-size: 140%;
    font-weight: 600;
}
.h3 {
    font-size: 100%;
    font-weight: 500;
}

.p-4 {
    padding: 4px!important;
}
.p-8 {
    padding: 8px!important;
}
.p-16 {
    padding: 16px!important;
}
.p-32 {
    padding: 32px!important;
}

.m-4 {
    margin: 4px!important;
}
.m-8 {
    margin: 8px!important;
}
.m-16 {
    margin: 16px!important;
}
.m-32 {
    margin: 32px!important;
}
.mt-4 {
    margin-top: 4px!important;
}
.mt-8 {
    margin-top: 8px!important;
}
.mt-16 {
    margin-top: 16px!important;
}
.mt-32 {
    margin-top: 32px!important;
}

.lh-50p {
    line-height: 50%!important;
}
.lh-60p {
    line-height: 60%!important;
}
.lh-70p {
    line-height: 70%!important;
}
.lh-80p {
    line-height: 80%!important;
}
.lh-90p {
    line-height: 90%!important;
}
.lh-100p {
    line-height: 100%!important;
}
.lh-110p {
    line-height: 110%!important;
}
.lh-120p {
    line-height: 120%!important;
}
.lh-130p {
    line-height: 130%!important;
}
.lh-140p {
    line-height: 140%!important;
}
.lh-150p {
    line-height: 150%!important;
}
.lh-160p {
    line-height: 160%!important;
}
.lh-170p {
    line-height: 170%!important;
}
.lh-180p {
    line-height: 180%!important;
}
.lh-190p {
    line-height: 190%!important;
}
.lh-1 {
    line-height: 1!important;
}
.lh-2 {
    line-height: 2!important;
}
.lh-3 {
    line-height: 3!important;
}
.lh-4 {
    line-height: 4!important;
}

.fs-50p {
    font-size: 50%!important;
}
.fs-60p {
    font-size: 60%!important;
}
.fs-70p {
    font-size: 70%!important;
}
.fs-80p {
    font-size: 80%!important;
}
.fs-90p {
    font-size: 90%!important;
}
.fs-100p {
    font-size: 100%!important;
}
.fs-110p {
    font-size: 110%!important;
}
.fs-120p {
    font-size: 120%!important;
}
.fs-130p {
    font-size: 130%!important;
}
.fs-140p {
    font-size: 140%!important;
}
.fs-150p {
    font-size: 150%!important;
}

.align-self-start {
    align-self: flex-start;
}
.align-self-end {
    align-self: flex-end;
}
.align-self-center {
    align-self: center;
}