.menu {
    display: flex;
}
.menu .menu_item {
    margin: 4px 36px;
    font-size: 85%;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--fg1-color1);
    transition: var(--transition);
}
.menu .menu_item:hover {
    color: var(--fg2-color1);
}
.menu .menu_item.active {
    color: var(--fg2-color1);
}